.subscribeButton {
  height: 4rem;
  width: 260px;
  border: 0;
  border-radius: 2rem;
  background: var(--yellow-500);
  font-weight: bold;
  color: var(--gray-900);
  font-size: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;


  transition: filter 0.2;

  &:hover {
    filter: brightness(0.8);
  }
}